<!DOCTYPE html>
<html lang="en">
<head>

    <!link rel="bookmark"  type="image/x-icon"  href="/favicon.ico"/>
    <!link rel="shortcut icon" href="/favicon.ico"/>

    {% load staticfiles %}
    <link rel="bookmark"  type="image/x-icon"  href="{% static "img/favicon.ico"%}"/>
    <link rel="shortcut icon" href="{% static "img/favicon.ico"%}"/>


</head>

<body>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="img"/>
        <input type="submit" value="上传"/>
    </form>
</body>
</html>